@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tsukimi+Rounded:wght@700&display=swap');

body {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-family: Roboto, sans-serif;
    background-color: #eeeeee;
}


.banner {
    background-color: #01381a;
    color:#ffffff;
    border-bottom: 0.5px solid #000000;
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    right: 0%;
    padding: 1rem;
    padding-bottom: 1%;
}

.bannermid {
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    width:20%;
}

.bannertext {
    font-family:'Tsukimi Rounded', sans-serif;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.bannermessage {
    padding: 0.5em;
    width: 98%;
    height: 15%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding: 0.25rem;
}

.searchmessage {
    height: 1rem;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    overflow: hidden;
}

.search-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0.25rem 0 0.5rem;
}

.bannerbuttons {
    margin-left: auto;
    margin-right: 0%;
    margin-bottom: auto;
}

.bannerbutton {
    font-size: 1rem;
    color:#000000;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffff;
    border-radius: 100px;
    text-decoration: none;
    margin: 4px;
    margin-top: 12px;
}

.bannerbutton:hover {
    background-color: rgba(212, 212, 212, 0.5);
}


.page {
    display: flex;
    flex-direction: row;
}

.scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: 25%;
    top: 17.5%;
    position: sticky;
    left: 0;
}

.scroll:hover {
    overflow-y: scroll;
}

.rhs {
    width: 25%;
    margin-right: 2%;
    margin-left: auto;
    position: sticky;
    top:17.5%;
}

.userinfo {
    top: 17.5%;
    height: 225px;
    width: 100%;
    background-color: #dadada;
    position: sticky;
    border-radius: 20px;
    margin-bottom:2.5%;
}

.scroll2 {
    overflow-y:hidden;
    overflow-x: hidden;
    height: 250px;
    width: 100%;
    margin-right: 2%;
    margin-left: auto;
    top: 55%;
    position: sticky;
    background-color: #dadada;
}

.scroll2:hover {
    overflow-y: scroll;
}

.chat {
    height: 35px;
    border-bottom: 0.5px solid #EFEFEF;
    padding: 16px;
    padding-left: 12px;
    display: flex;
}

.chat:hover {
    background-color: #e2e2e2;
    box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}


div.profile {
    background-color: #fafafa;
    border: 1px solid #E8EAED;
    font-size: 14px;
    box-sizing: border-box;

    box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.userprofile {
    padding: 16px;
    padding-left: 12px;
    display: flex;
}

.userdesc {
    height: 187px;
    display: flex;
    flex-direction: column;
}

.userdescription {
    text-overflow: ellipsis;
    overflow-wrap:break-word;
    margin-left: 5%;
}

.userprofilename {
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 8%;
}

img.ppp {
    width: 64px;
    height: 64px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #FAFAFA;
    vertical-align: baseline;
    border: 1px solid #EFEFEF;
}


div.posts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 8%;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

div.post {
    width: 450px;
    background-color: #fafafa;
    border: 1px solid #E8EAED;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 10%;
}

div.header {
    height: 35px;
    border-bottom: 0.5px solid #EFEFEF;
    padding: 16px;
    display: flex;
}

img.pp {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #FAFAFA;
    vertical-align: baseline;
    border: 1px solid #EFEFEF;
}

div.user {
    display: flex;
    flex-direction: row;
    max-width: 240px;        
}

.username {
    font-size: inherit;
    font-weight: 700;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

span.verified {
    background-image: url("https://files.catbox.moe/0b83ph.png");
    background-size: 410px 396px;
    background-position: -164px -366px;
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
    margin-top: 3px;
    margin-left: 5px;
}

a.follow {
    border: 0;
    color: #3897f0;
    font-weight: 700;
    text-align: center;
}

div.location {
    color: #262626;
    line-height: 15px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0;
}

img.imgpost {
    width: 450px;
}

div.footer {
    padding: 0 16px;
    padding-top: 2.5%;
}

span.actions {
    margin-top: 4px;
    margin-right: 0%;
    display: flex;
}

span.actiontext {
    margin-right: 10px;
    margin-top: 12px;
    margin-left: 5px;
}

span.commentsharetext {
    margin-right: 20px;
    margin-top: 4px;
    margin-left: 10px;
}

span.like {
    display: inline-block;
    background-image: url("../assets/sprites2.png");
    background-size: 411px 393px;
    background-position: 0px -319px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin: 8px 4px 8px 8px;
}

.comment_share {
    margin-top: 8px;
    margin-left: auto;
    display: flex;
}

.comment {
    display: inline-block;
    background-image: url("../assets/sprites2.png");
    background-size: 411px 393px;
    background-position: -125px -294px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.share {
    display: inline-block;
    background-image: url("../assets/sprites2.png");
    background-size: 411px 393px;
    background-position: -275px -344px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

div.desc {
    text-align: justify;
}

a.user-handle {
    color: #262626;
    font-weight: 600;
    padding-left: 5px;
    margin-left: -5px;
}

div.date {
    color: #999;
    margin-bottom: 5px;
    text-transform: uppercase; 
    font-size: 10px;
    letter-spacing: .2px;
}

a.link {
    color: #003469;
}
