<style>
    h1 {
        text-align: center;
        margin-top: 2rem;
        font-family: 'Roboto', sans-serif;
        color: rgb(7, 50, 20);
    }

    a {
        display: block;
        text-align: center;
        margin-top: 2rem;
        font-family: 'Roboto', sans-serif;
        color: rgb(7, 50, 20);
        text-decoration: none;
    }

    a:hover {
        color: rgb(7, 50, 20);
        text-decoration: underline;
    }
</style>

<h1>Animo: 404 Error Not Found!</h1>
<a href="/">Return to Home Page</a>
