<!-- search_form.hbs -->
<h1>{{ title }}</h1>
<form action="/search" method="post">
  <input type="text" name="searchText" placeholder="I am looking for...">
  <button type="submit">Search</button>
</form>
