/******************************************************************

    MAIN STUFF

******************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #083704;
    --main-font: 'Inter', sans-serif;

    font-family: var(--main-font);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slideInBottom {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/******************************************************************

    UTILITY CLASSES
    
******************************************************************/

.bg-orange {
    background-color: #ff8c00;
}

.bg-green {
    background-color: #00b300;
}

.bg-yellow {
    background-color: #ffd700;
}

.bg-blue {
    background-color: #1e90ff;
}

object.fa-icon {
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;

    margin: 0 0.25rem 0 0.25rem;
}

/******************************************************************

    NAVBAR
    
******************************************************************/

#navbar {
    color: white;
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;

    display: flex;
    justify-content: space-between;
}

.animo {
    opacity: 0;
    animation: slideInBottom 1s ease-out;
    animation-fill-mode: forwards;
}

.animo a {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 2rem;
    color: white;

    margin: 0 0 0 0.5rem;
}

.animo a:hover {
    color: white;
    text-decoration: none;
}

.search-bar-small {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin: 0.5rem 1rem;
    padding: 0.25rem 0.75rem;
    min-width: 30vw;
    max-width: 60vw;

    opacity: 0;
    animation: slideInBottom 1s ease-out 0.45s;
    animation-fill-mode: forwards;
}
  
.search-bar-small input {
    border: none;
    outline: none;
    background-color: transparent;

    min-width: 30vw;
    max-width: 60vw;
    padding: 0rem 0rem 0rem 1rem;
}

.search-bar-small img.search-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0.25rem 0 0.25rem;
}

#btn-login {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 1rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
    border: 0px;

    margin: 0.5rem 1rem;
    padding: 0.25rem 0.75rem;

    opacity: 0;
    animation: slideInBottom 1s ease-out 0.15s;
    animation-fill-mode: forwards;
}

#nav-user-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    object-fit: cover;
    background-color: white;
    border: 0;
    
    margin-left: 2rem;
}

.dropdown {
    margin-right: 1rem;

    opacity: 0;
    animation: slideInBottom 1s ease-out 0.15s;
    animation-fill-mode: forwards;
}

button.dropdown-toggle {
    color: white;
    background-color: transparent;
    border: none;
}

button.dropdown-toggle:focus {
    outline: none;
}

button.dropdown-toggle:hover {
    cursor: pointer;
}

ul.dropdown-menu.show {
    min-width: 0rem;
}

button.dropdown-item {
    padding: 0.25rem 0.9rem;
    font-size: 0.9rem;
}

button.dropdown-item:hover {
    text-decoration: none;
}


/******************************************************************

    HEADER - HOMEPAGE
    
******************************************************************/

.header-homepage {
    height: 16rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}

.title-homepage {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 5rem;
    color: white;

    opacity: 0;
    animation: slideInBottom 1s ease-out 0.3s;
    animation-fill-mode: forwards;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding: 0.25rem;

    opacity: 0;
    animation: slideInBottom 1s ease-out 0.45s;
    animation-fill-mode: forwards;
}
  
.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;

    padding: 0.25rem;
    min-width: 30vw;
}

.search-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0.25rem 0 0.5rem;
}

/******************************************************************

    COMMUNITIES
    
******************************************************************/

.community-card-list {
    opacity: 0;
    animation: slideInBottom 1s ease-out 0.75s;
    animation-fill-mode: forwards;
}

.community-card {
    /* border-radius: 1rem; */
    border: 1px solid #d9d9d9;
}

a.community-card {
    cursor: pointer;
    text-decoration: none;
    color: black;

    transform: scale(1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: all 0.2s ease-in-out;
}

a.community-card:hover {
    text-decoration: none;
    color: black;

    transform: scale(1.03);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    transition: all 0.2s ease-in-out;
}

.communities {
    margin: 1rem 10vw;
}

.subtitle {
    margin: 0 0 1rem 0;

    opacity: 0;
    animation: slideInBottom 1s ease-out 0.6s;
    animation-fill-mode: forwards;
}

.subtitle h5 {
    font-weight: 500;
    font-size: 1.5rem;
}

.subtitle span {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 0.9rem;
    color: #a3a3a3;
}

.card-img-top {
    height: 10rem;
    min-height: 15vh;
    object-fit: cover;
}

.card-body {
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-text {
    font-size: 0.9rem;
}

.communities div div.col-md-4 {
    margin: 0 0 2rem 0;
}

/******************************************************************

    HEADER - COMMUNITYPAGE
    
******************************************************************/

.header-communitypage {
    height: 16rem;
    background-color: #d9d9d9;

    opacity: 0;
    animation: slideInBottom 1s ease-out 0.3s;
    animation-fill-mode: forwards;
}

.header-communitypage .container {
    position: relative;
    width: 100%;
}

.header-communitypage .container .img-container {
    background-color: black;

    height: 100%;
    max-height: 16rem;
    width: 100%;
    display: block;
}

.header-communitypage .container .img-container img {
    opacity: 0.25;
    object-fit: cover;
    object-position: center;

    height: 100%;
    max-height: 16rem;
    width: 100%;
    display: block;
}

.header-communitypage-text {
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #d9d9d9;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title-communitypage, .subtitle-communitypage {
    font-family: var(--main-font);
    color: white;
    text-align: center;
}

.title-communitypage {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}

.subtitle-communitypage {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
}

/******************************************************************

    MAIN BODY - COMMUNITYPAGE
    
******************************************************************/

.mainbody-communitypage {
    opacity: 0;
    animation: slideInBottom 1s ease-out 0.6s;
    animation-fill-mode: forwards;
}

.dashboard-container, .relevantcommunities-container {
    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;

    margin: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard-title, .relevantcommunities-title {
    background-color: var(--primary-color);
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;

    padding: 0.8rem;
}

.dashboard-content {
    font-size: 0.8rem;
    color: black;
    
    padding: 0 0.8rem;
}

.dashboard-content-info span:first-child {
    font-size: 1.2rem;
}

.dashboard-content hr {
    margin: 0.75rem 0;
    color: #d8d8d8;
}

.dashboard-communitytitle {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 0;
    margin: 0 0 0.25rem 0;
}

.dashboard-communitytags, .dashboard-communityfollowers {
    margin: 0 0 0.25rem 0;
}

.dashboard-content-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-button {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    opacity: 0.7;

    width: 1.25rem;
    height: 1.25rem;

    margin: 0 0.5rem 0 0;
}

.dashboard-button object {
    pointer-events: none;
}

a.dashboard-button:hover {
    cursor: pointer;
    opacity: 1;
}

.btn-edit-community {
    display: inline-block;
    text-align: center;
    vertical-align: center;

    width: 2rem;
    height: 2rem;
    font-size: 1rem;

    /* margin: 0 0.5rem 0 0; */
}

.btn-edit-community object {
    pointer-events: none;
}

a.btn-edit-community:hover {
    cursor: pointer;
    opacity: 1;
}

.joincommunity-btn {
    background-color: #e8e8e8;
    border: 1px solid #d8d8d8;
    border-radius: 0.6rem;

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.joincommunity-btn:hover {
    filter: brightness(90%);
}

.usernum-icon {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0 0 0;
}

.relevantcommunities-content {
    font-size: 0.8rem;
    color: black;
    
    padding: 0.8rem;
}

.relevantcommunities-content ul {
    list-style-type: square;
    margin: 0 0 0 1rem;
}

.relevantcommunities-content ul li {
    padding: 0.25rem 0;
    border-bottom: 1px solid #d8d8d8;
}

.relevantcommunities-content ul li:nth-child(1) {
    border-top: 1px solid #d8d8d8;
}

.relevantcommunities-content ul li a {
    color: black;
}

.relevantcommunities-content ul li a:hover {
    color: var(--primary-color);
}

/*
    User Profile Page Dashboard Extra
*/

.dashboard-profpic {
    display: block;
    border-radius: 100%;
    width: 100%;
    object-fit: cover;
    background-color: white;

    margin: 1rem;
}

/******************************************************************

    MAIN BODY - COMMUNITYPAGE - POSTS

******************************************************************/

/* CREATE POST */

.create-post-innercontainer {
    background-color: #fafafa;
    border: 1px solid #E8EAED;
    font-size: 0.875rem;
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.create-post-form {
    display: flex;
    flex-direction: column;
}

.create-post-form label {
    margin-bottom: 0.4rem;
}

.create-post-form textarea {
    padding: 0.1rem;
    margin-bottom: 0.7rem;
    border: 1px solid #d8d8d8;
}

.create-post-form input {
    margin-bottom: 0.4rem;
}

.create-post-form-title {
    border: 1px solid #d8d8d8;
}

.create-post-form-end {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-post-submit-btn {
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #c8c8c8;
}

.create-post-submit-btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

/* DANE'S POST CSS */

div.post {
    background-color: #fafafa;
    border: 1px solid #E8EAED;
    font-size: 0.875rem;
    margin: 1rem;
}

div.header {
    border-bottom: 0.5px solid #EFEFEF;
    padding: 1rem;
    display: flex;
}

div.header div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

img.pp {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FAFAFA;
    vertical-align: baseline;
    border: 1px solid #EFEFEF;

    object-fit: cover;
    object-position: center;
}

div.user {
    display: flex;
    flex-direction: row;
    max-width: 240px;        
}

.username {
    color: black;
    font-size: inherit;
    font-weight: 700;
    vertical-align: baseline;

    margin-left: 0.5rem;
    padding: 0;
}

.username:hover {
    color: black;
}

div.location {
    color: #262626;
    line-height: 15px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0;
}

img.imgpost {
    width: 100%;
    height: auto;
    cursor: pointer;
}

div.footer {
    padding: 1rem;
}

.post-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
}

.post-title:hover {
    color: black
}

.post-actions {
    padding: 0.75rem;
}

span.actiontext {
    margin-left: 0.5rem;
}

span.commentsharetext {
    margin-left: 0.5rem;
}

.likecontainer {
    height: 24px;
    width: 24px;
}

.like {
    display: inline-block;
    background-image: url("../assets/sprites2.png");
    background-size: 411px 393px;
    background-position: -25px -319px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    /* margin: 8px 4px 8px 8px; */
    cursor: pointer;
}

.like .liked {
    display: inline-block;
    background-image: url("../assets/sprites2.png");
    background-size: 411px 393px;
    background-position: 0px -319px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.comment_share {
    /* margin-top: 8px; */
    margin-left: auto;
    display: flex;
}

.comment {
    display: inline-block;
    background-image: url("../assets/sprites2.png");
    background-size: 411px 393px;
    background-position: -125px -294px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.share {
    display: inline-block;
    background-image: url("../assets/sprites2.png");
    background-size: 411px 393px;
    background-position: -275px -344px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.send {
    display: inline-block;
    background-image: url("../assets/sprites2.png");
    background-size: 411px 393px;
    background-position: -200px -294px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-right: 12px;
    margin-left: 4px;
    cursor: pointer;
}

.send:hover {
    opacity: 0.5;
}

div.desc {
    text-align: justify;
}

a.user-handle {
    color: #262626;
    font-weight: 600;
    padding-left: 5px;
    margin-left: -5px;
}

div.date {
    color: #999;
    margin-top: 5px;
    text-transform: uppercase; 
    font-size: 10px;
    letter-spacing: .2px;
}

a.link {
    color: #003469;
}

/* POSTS */

.postpage-text {
    font-size: 1rem;
    color: grey;

    padding: 0;
    margin: 0;
}

.postpage-title {
    font-weight: 700;
    font-size: 2rem;

    padding: 0;
    margin: 0;
}

.post-title-edit {
    font-size: 1.3rem;
    font-weight: 700;
    border: 1px solid #d8d8d8;
    border-radius: 0.3rem;
    color: black;

    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.desc-edit {
    width: 100%;
    border: 1px solid #d8d8d8;
    border-radius: 0.3rem;

    padding: 0.5rem;
    margin-bottom: 1rem;
}

.save-button,.cancel-button {
    padding: 0rem 0.5rem;
    border-radius: 0.3rem;
    background-color: #e8e8e8;
    border: 1px solid #c8c8c8;
}

.save-button:hover,.cancel-button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.delete-button {
    padding: 0rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #c8c8c8;
    background-color: #e8e8e8;
    display: inline-block;
    color: black;
}

.delete-button:hover {
    color: black;
    filter: brightness(90%);
    text-decoration: none;
}

.comment-collapse-button, .comment-collapse-button-main {
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
}

.comment-collapse-button:hover, .comment-collapse-button-main:hover {
    color: black;
    filter: brightness(90%);
    text-decoration: none;
}

.create-comment-card {
    background-color: #fafafa;
    border-top: 1px solid #E8EAED;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 0.875rem;
    border-radius: 0px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions div,.actions a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submit-comment-button {
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid #c8c8c8;
    background-color: #e8e8e8;
}

.submit-comment-button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.submit-comment-input {
    width: 100%;
    border: 1px solid #d8d8d8;
    border-radius: 0.3rem;

    padding: 0.1rem 0.3rem;
    /* margin-bottom: 1rem; */
}

.post-comment-username {
    font-size: 0.9rem;
    font-weight: 700;
}

.date span a {
    color: #999;
    text-decoration: underline;
}

.date span a:hover {
    color: #999;

}

.post-comment {
    margin-left: 0.3rem;
    margin-bottom: 0.5rem;
    padding-left: 0.3rem;
    border-left: 1px solid #d8d8d8;
}